{% extends 'base.html' %}
    {% block main %}
        <h4 class="card-title">All students:</h4>
        {% if message %}
            <p class="alert alert-success">
                <strong>{{ message }}</strong>
            </p>
        {% endif %}
        {% if error_message %}
            <p class="alert alert-danger">
                <strong>{{ error_message }}</strong>
            </p>
        {% endif %}
        {% if all_students %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Faculty</th>
                        <th scope="col">Specialty</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in all_students %}
                        <tr>
                            <th>{{ student.id }}</th>
                            <th>
                                <a href="/students/{{ student.id }}/">
                                    {{ student.name }} {{ student.surname }}
                                </a>
                            </th>
                            <th>
                                <a href="/students/{{ student.id }}/">
                                    {{ student.faculty }}
                                </a>
                            </th>
                            <th>
                                <a href="/students/{{ student.id }}/">
                                    {{ student.specialty }}
                                </a>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if user.is_superuser == 1 %}
                <a href="/students/new_student/" class="btn btn-primary" role="button">Add student</a>
            {% endif %}
        {% else %}
            <p>No students yet.</p>
        {% endif %}
    {% endblock %}